/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.display_font{
   // background-color: aqua;
    width: 50vw;
    font-family: "Germania One", serif;
    font-size: 5em;
    margin: auto;
}

#title_card{
   // background-color: aliceblue;
    width: 100vw;
    
}